* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface-d) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  background: var(--surface-d) !important;
  color: var(--text-color);
  font-size: 14px;
  // border-left: 10px solid var(--primary) !important;
  // border-right: 10px solid var(--primary) !important;
}

footer {
  background: #1f2d40;
  border: 1px solid #304562 !important;
}

.row {
  padding: 0;
  margin: 0 auto;
}

.fa-paint-brush {
  font-size: 22px;
  background: gold; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, cyan, blue, violet, orange, yellow, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, cyan, blue, violet, orange, yellow, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, cyan, blue, violet, orange, yellow, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, cyan, blue, violet, orange, yellow, green); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 2px black);
  text-shadow: 0px 0px 14px white;
}

.Toastify__progress-bar {
  background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55, violet, orange, yellow);
  filter: drop-shadow(0 0 -2px #333);
}

.paintGrid {
  width: 100vmin;
  height: 100vmin;
  min-height: 42vh;
  min-width: 42vh;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;

  .square {
    cursor: crosshair;
    cursor: url("./cursor.svg"), auto;

    &:focus {
      outline: none;
      border: 1px solid #fff !important;
      pointer-events: none;
    }
  }
}

.sub-main {
  display: grid;
  grid-template-rows: 0.2fr 0.4fr 1fr;
  margin-bottom: 2rem;
}

.form-container {
  max-width: 75vh;
}

.p-card,
.d-card {
  min-width: 24vh;
}

.sp.p-scrollpanel {
  .p-scrollpanel-wrapper {
    .p-scrollpanel-content {
      padding: 0;
    }
  }

  .p-scrollpanel-bar {
    background-color: var(--primary-color);
    height: 5px;
    opacity: 1;
  }
}

.tools {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .leftContents {
    button {
      margin-right: 0.5rem;
    }
  }

  .rightContents {
    padding-right: 1.5rem;

    [aria-label="reset"] {
      display: flex;
      flex-direction: row-reverse;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(23, 33, 47) inset;
  box-shadow: 0 0 0px 1000px rgb(23, 33, 47) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contain,
row,
.paintGrid {
  max-height: 550px;
  max-width: 550px;
  width: 95vw;
  height: 95vw;
  margin: 0 auto;
}


.p-paginator {
  padding: 0.5rem 0;
  background: unset;

  button.p-paginator-element {
    min-width: 1.186em;
  }
}